{#
Available variables:
- value: element[field.handle],
- field: field,
- element: element
#}

{% if fieldAttributes is not defined %}
    {% set fieldAttributes = {
        class: [
            "field--" ~ decamelize(field.handle),
        ]
    } %}
{% endif %}

{% if value is not empty %}
    <div{{ attr(fieldAttributes) }}>{% apply spaceless %}
        {% block content %}
            {{ value }}
        {% endblock %}
    {% endapply %}</div>
{% else %}
    {% if craft.app.config.env == 'dev' %}
        <!-- No value -->
    {% endif %}
{% endif %}
